<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
      <div class="offset-md-1 col-md-11">
        <h1><%= title %></h1>
        <% if (typeof displayName == 'string' && displayName) { %>
        <a href="/create-survey" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Create a new survey</a>
        <% } %>
        <br>
        <table class="table table-bordered table-striped table-hover">
            <!-- Header Row -->
            <tr class="d-flex">
                <% if (typeof displayName == 'string' && displayName) { %>
                    <th class="text-center col-4">Survey</th>
                    <th class="text-center col-3">Created By</th>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"></th>
                <% } else { %>
                    <th class="text-center col-2">Survey</th>
                    <th class="text-center col-2">Created By</th>
                <% } %>
            </tr>
            <!-- Repeatable Template Row -->
            <% for(let count = 0; count < SurveyList.length; count++) { %>
                <tr class="d-flex">
                    <% if (typeof displayName == 'string' && displayName) { %>
                        <!-- <td class="text-center col-5"><%= SurveyList[count].name %></td> -->
                        <td class="text-center col-4">
                            <a href="/survey/<%= SurveyList[count]._id %>"> <%= SurveyList[count].name %></a>
                        </td>
                        <td class="text-center col-3"><%= SurveyList[count].creator %></td>
                        <td class="text-center col-2">
                            <a href="/survey/report/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit?</a>
                        </td>
                        <td class="text-center col-2">
                            <a href="/survey/report/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Report</a>
                        </td>
                        <td class="text-center col-2">
                            <a href="/delete/<%= SurveyList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    <% } else { %>
                        <td class="text-center col-2"><%= SurveyList[count].name %></td>
                        <td class="text-center col-2"><%= SurveyList[count].creator %></td>
                    <% } %>
                </tr>
            <% } %>
        </table>
    </div>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>