<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-4">The "<%= surveyToTake.name %>" Survey</h1>
        <h5 class="display-10"><i>By: "<%= surveyToTake.creator %>"</i></h5>
    
         <br/> 
        <form method="POST">
            <% for(let count = 0; count < surveyToTake.questions.length; count++) { %>  

                <h5 class="display-7">Question <%= count +1 %>: <%= surveyToTake.questions[count].Question %></h5>

                <% if (surveyToTake.surveyType === "MCQ") {%>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answers[<%= count %>]" id="flexRadioDefault1" value="<%=surveyToTake.questions[count].OptionOne%>">
                            <label class="form-check-label" for="flexRadioDefault1"> <%=surveyToTake.questions[count].OptionOne %>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answers[<%= count %>]" id="flexRadioDefault2" value="<%=surveyToTake.questions[count].OptionTwo%>">
                            <label class="form-check-label" for="flexRadioDefault2"> <%=surveyToTake.questions[count].OptionTwo%>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answers[<%= count %>]" id="flexRadioDefault3" value="<%=surveyToTake.questions[count].OptionThree%>">
                            <label class="form-check-label" for="flexRadioDefault3"> <%=surveyToTake.questions[count].OptionThree %>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answers[<%= count %>]" id="flexRadioDefault4" value="<%=surveyToTake.questions[count].OptionFour%>">
                            <label class="form-check-label" for="flexRadioDefault4"> <%=surveyToTake.questions[count].OptionFour %>
                            </label>
                        </div>
                    </div>

                <% } else if (surveyToTake.surveyType === "SA") {%>
                    <input class="form-control" type="text" name="answers[<%= count %>]" value="<%=surveyToTake.questions[count].OptionFour%>">
                <% } %>
                <br/> 
            <% } %>
            <br/> 
            <button type="submit" class="btn btn-primary">Submit Survey</button>
        </form>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>