<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<h2>Edit Survey</h2>
<!-- should this also not be in the form? -->
<form class="form" method="POST">
  <input type="text" placeholder="Enter survey name" name="surveyName" class="survey-name-input" value="<%= survey.name %>" required>
  <% for(let count = 0; count < survey.questions.length; count++) { %>
    <div class="container" style="margin:2rem 0;">
      <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <form class="form" method="POST">

                    <div class="form-group">
                      <input type="text" class="form-control"
                      id="nameTextField"
                      placeholder="Question <%= count+1 %>"
                      name="Question<%= count+1 %>"
                      value="<%= survey.questions[count].Question %>">
                    </div>
                    <% if (survey.surveyType === "MCQ") { %>
                      <% let options = ["OptionOne", "OptionTwo", "OptionThree", "OptionFour"];
                        for(let i = 0; i < 4; i++) { %>
                        <div class="form-group">
                          <input type="text" class="form-control"
                          id="nameTextField"
                          placeholder="Response <%= i+1 %>"
                          name="response<%= count+1 %>"
                          value="<%= survey.questions[count][options[i]] %>">
                      </div>
                      <% } %>
                    <% } %>
                  <input type="hidden" name="surveyType" value="<%=survey.surveyType%>">
            </div>
        </div>
    </div>
  <% } %>
  <button id="submitBtn" class="submit-btn" type="submit">Submit</button>

</form>

<%- include ../partials/bottom_nav.ejs %>
<!-- <script src="/Scripts/surveys/createSurvey.js"></script> -->
<%- include ../partials/footer.ejs %>
