<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>


<main class="container">
  <h3>Available Surveys</h3>
  <!-- Survey List -->
  <div class="row">
    <% SurveyList.forEach(function(survey) { %>
      <% if (survey.endDate >  new Date()) {%> 
      <div class="col-lg-4 col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%=survey.name%></h5>
            <p class="card-text"><%=survey.creator%></p>
            <a href="survey/<%=survey._id%>" class="btn btn-primary">Take Survey</a>
            <p class="card-time">Expires on: <%=String(survey.endDate).substring(0,25)%></p>
          </div>
        </div>
      </div>
      <% } %>
    <% }) %>
  </div>
  <div class="row">
    <h3>Past Surveys</h3>
    <% SurveyList.forEach(function(survey) { %>
      <% if (survey.endDate <=  new Date()) {%> 
      <div class="col-lg-4 col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%=survey.name%></h5>
            <p class="card-text"><%=survey.creator%></p>
              <p class="card-time">Expired on: <%=String(survey.endDate).substring(0,25)%></p>
          </div>
        </div>
      </div>
      <% } %>
    <% }) %>
  </div>
</main>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>

