<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div>
    <h2>Survey Details</h2>
    <p><strong>Name:</strong> <%= survey.name %></p>
    <p><strong>Created By:</strong> <%= survey.creator %></p>
    <p><strong>End Date:</strong> <%= new Date(survey.endDate).toLocaleString() %></p>
</div>

<div>
    <h2>Responses</h2>

    <% for (let i = 0; i < responses.length; i++) { %>
        <caption>Taken By: <%= responses.takenBy %></caption>
        <table class="table">
            <thead>
                <th>Question</th>
                <th>Answer</th>
            </thead>
            <tr>
                <td>Questions go here</td>
                <td>Answer go here</td>
            </tr>
        </table>
        <br>
    <% } %>
    
</div>

<%- include ../partials/bottom_nav.ejs %>
<!-- <script src="/Scripts/surveys/createSurvey.js"></script> -->
<%- include ../partials/footer.ejs %>