<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div>
    <h2>Survey Details</h2>
    <p><strong>Name:</strong> <%= survey.name %></p>
    <p><strong>Created By:</strong> <%= survey.creator %></p>
    <p><strong>End Date:</strong> <%= survey.endDate.toLocaleString() %></p>
</div>

<div>
    <h2>Questions and Answers</h2>
    <% for (let i = 0; i < survey.questions.length; i++) { %>
        <h4>Question <%= i + 1 %></h4>
        <p><strong>Question:</strong> <%= survey.questions[i].Question %></p>
        <p><strong>Option One:</strong> <%= survey.questions[i].OptionOne %></p>
        <p><strong>Option Two:</strong> <%= survey.questions[i].OptionTwo %></p>
        <p><strong>Option Three:</strong> <%= survey.questions[i].OptionThree %></p>
        <p><strong>Option Four:</strong> <%= survey.questions[i].OptionFour %></p>
    <% } %>
</div>

<%- include ../partials/bottom_nav.ejs %>
<script src="/Scripts/surveys/createSurvey.js"></script>
<%- include ../partials/footer.ejs %>
