<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div class="container">
    <h2>Survey Report</h2>
    <p><strong>Survey Name:</strong> <%= survey.name %></p>
    <p><strong>Created By:</strong> <%= survey.creator %></p>
    <p><strong>End Date:</strong> <%= new Date(survey.endDate).toLocaleString() %></p>
    <br>
</div>

<div>
    <% for (let i = 0; i < responses.length; i++) { %>
        <caption>Taken By: <%= responses[i].takenBy %></caption>
        <table class="table">
            <thead>
                <th>Question</th>
                <th>Answer</th>
            </thead>
            <% for (let j = 0; j < responses[i].questions.length; j++) { %>
            <tr>
                <td><%= responses[i].questions[j]%></td>
                <td><%= responses[i].responses[j]%></td>
            </tr>
            <% } %>
        </table>
        <br>
    <% } %>
</div>

<%- include ../partials/bottom_nav.ejs %>
<!-- <script src="/Scripts/surveys/createSurvey.js"></script> -->
<%- include ../partials/footer.ejs %>